@import url('./style.css');

body {
  padding: 0;
  overflow-x: hidden;
}

/* --- carousel --- */
.carousel-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 20px;
}

.carousel {
  width: 100%;
  position: relative;
  overflow: visible;
}

.carousel-track {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.carousel-slide {
  flex: 0 0 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #decdb3 solid 10px;
  background-color: #decdb3;
  border-radius: 10px;
  margin-top: 40px;
  transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out,
    opacity 0.6s ease-in-out;
  transform-origin: center center;
  opacity: 0.6;
}

.carousel-slide img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: -17px;
}

/* middle card */
.carousel-slide.center-slide {
  transform: scale(1.04);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.15);
  opacity: 1;
  z-index: 3;
}

/* card on the side a bit smaller*/
.carousel-slide.left-slide,
.carousel-slide.right-slide {
  transform: scale(0.96);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  z-index: 2;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #d0bda1;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  font-size: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: #aca08c;
}

.blog-content {
  text-align: left;
  padding: 10px;
  width: 100%;
}

.blog-content h1,
.thumbnail-grid h2 {
  margin-top: 10px;
  font-family: 'EB Garamond', serif;
  font-weight: 550;
}

.blog-content h1 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.6rem;
}

.blog-content p {
  padding-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.create-post-button {
  display: block;
  margin: 0 auto;
  font-family: 'Red Hat Display', system-ui, 'Inter';
  font-weight: 450;
  color: black;
  padding: 8px 15px;
  border-radius: 10px;
  background-color: #decdb3;
  border: black solid 2px;
  align-self: flex-start;
  margin-top: 20px;
}

.create-post-button:hover {
  color: white;
  background: black;
  border: black solid 2px;
  cursor: pointer;
}

.category {
  font-family: 'EB Garamond', serif;
  margin-left: 6.8%;
  padding-left: 1px;
  padding-right: 1px;
}

.filterbuttons {
  margin-left: 6.8%;
}

.tag-button {
  margin: 3px;
  font-weight: 450;
  padding: 7px;
  background-color: #decdb3;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.tag-button:hover {
  background-color: black;
  color: white;
}

.thumbnail-grid {
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  row-gap: 40px;
  column-gap: 30px;
  max-width: 1430px;
  margin: auto;
  padding: 10px 20px;
  margin-bottom: 40px !important;
}

.thumbnail-grid img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 10px 10px;
}

.thumbnail-grid img:hover {
  transform: scale(1.01);
}

.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.thumbnail h2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}

.thumbnail p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-more-button1 {
  padding: 12px 25px;
  border-radius: 10px;
  background-color: #decdb3;
  border: black solid 2px;
  margin-top: 10px;
}

.read-more-button1:hover {
  color: white;
  background: black;
  border: black solid 2px;
}

.read-more-button {
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #decdb3;
  border: black solid 2px;
  align-self: flex-start;
}

.read-more-button:hover {
  color: white;
  background: black;
  border: black solid 2px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px 0 50px 0;
  flex-wrap: wrap;
}

.pagination button {
  padding: 8px 14px;
  border-radius: 8px;
  border: 2px solid black;
  background-color: #decdb3;
  cursor: pointer;
  font-weight: 500;
}

.pagination button.active {
  background-color: black;
  color: white;
}

.pagination button:hover {
  background-color: black;
  color: white;
}

/* active */
.tag-button.active {
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  .thumbnail-grid {
    padding: 40px 60px;
  }
}

@media (max-width: 768px) {
  .carousel-button {
    font-size: 1.5rem;
    padding: 8px;
  }

  .carousel-slide img {
    height: 350px;
  }

  .carousel-container {
    padding: 0px 20px;
  }
}

@media (max-width: 300px) {
  .thumbnail-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .thumbnail-grid img {
    max-height: 200px;
  }
}

@media (max-width: 440px) {
  .carousel-slide img {
    height: 300px;
  }
}

@media (min-width: 1340px) {
  .carousel-button.prev {
    left: 100px;
  }

  .carousel-button.next {
    right: 100px;
  }
}

/* --- laptops, iPads landscape --- */
@media (max-width: 1340px) and (min-width: 800px) {
  .carousel-slide {
    flex: 0 0 45%;
  }

  .carousel-track {
    gap: 1.5rem;
  }
}

/* --- MOBILE --- */
@media (max-width: 800px) {
  .carousel {
    overflow: hidden; /* one img a time */
  }

  .carousel-track {
    justify-content: flex-start;
    gap: 0;
  }

  .carousel-slide {
    flex: 0 0 100%;
  }

  .carousel-slide.center-slide {
    transform: none !important;
    box-shadow: none !important;
    opacity: 1;
  }
}
